@page
@model CinemaAplicatieWEB.Pages.Showtimes.IndexModel
@{
    ViewData["Title"] = "Showtimes";
}

<h1>Showtimes</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Showtime</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Hall</th>
            <th>Date & Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Showtime)
        {
            <tr>
                <td>@item.Movie.Title</td>
                <td>@item.Hall.Name</td>
                <td>@item.DateTime</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
