@page
@model CinemaAplicatieWEB.Pages.Halls.IndexModel

@{
    ViewData["Title"] = "Halls";
}

<h1>Halls</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Layout</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hall in Model.Hall)
        {
            <tr>
                <td>@hall.Name</td>
                <td>@hall.Capacity</td>
                <td>@(string.IsNullOrWhiteSpace(hall.Layout) ? "Default" : "Custom")</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@hall.Id">Edit</a> |
                    <a asp-page="Details" asp-route-id="@hall.Id">Details</a> |
                    <a asp-page="Delete" asp-route-id="@hall.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
