@page
@model CinemaAplicatieWEB.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Reservations";
}

<h1>Reservations</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Seats</th>
            <th>Reservation Date & Time</th>
            <th>User</th>
            <th>Hall</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {
            <tr>
                <td>@item.Seats</td>
                <td>@item.ReservationDate</td>
                <td>@item.User.Name</td>
                <td>@item.Hall.Name</td> <!-- Afișare sală -->
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
